<body>
  <div class="container" align="center">
    <br>
    <h2>ÁREAS DE NEGOCIOS</h2>

  </div>
  <br>
  <div class="container">
    <section class="main row">
      <article class="col-xs-12 col-sm-6 col-md-3 col-md-3">
        <img src="/assets/images/user_service.jpg" class="logo-image">
        <br>
        <br>
        <h4>Adquisición de Clientes</h4>
        <br>
        <p align="center">Analizamos la demanda que tienen tus servicios o productos en internet y en base a este análisis
          definimos un plan que nos permita conectar al consumidor con tu empresa.
        </p>
      </article>
      <aside class="col-xs-12 col-sm-6 col-md-3 col-md-3">
          <img src="/assets/images/e-commerce.jpg" class="logo-image">
          <br>
          <br>
          <h4 align="center">E-commerce</h4>
          <br>
          <p align="center">Implementamos tiendas virtuales con la tecnologia VTEX y desarrollamos el ecosistema digital
              para que tu e-commerce sea un canal de venta relevante.
          </p>
      </aside>
      <aside class="col-xs-12 col-sm-6 col-md-3 col-md-3">
          <img src="/assets/images/auditoria-analitica.jpg" class="logo-image">
          <br>
          <br>
          <h4 align="center">Analitica</h4>
          <br>
          <p align="center">Procesamos la data de tus distintos canales digitales con la finalidad de
              presentar información relevannte que sirva para la toma de decisiones. definición de objetivos
              y medición de las actividades en digital.
          </p>
      </aside>
      <aside class="col-xs-12 col-sm-6 col-md-3 col-md-3">
          <img src="/assets/images/presencia.jpg" class="logo-image">
          <br>
          <br>
          <h4 align="center">Presencia de Marca</h4>
          <br>
          <p align="center">Nos encargamos de mostrar tus campañas a tu publico objetivo y de generar la
              mayor interación en los distintos canales digitales.
          </p>
      </aside>
    </section>
  </div>
  <div class="sticky-container">
      <ul class="sticky">
          <li>
              <img src="assets/images/facebook_logo.png" width="40" height="32">
              <p><a href="https://www.facebook.com" target="_blank">Like a <br>Facebook</a></p>
          </li>
          <li>
              <img src="assets/images/twitter_logo.jpg" width="33" height="32">
              <p><a href="https://twitter.com" target="_blank">Visita <br>Twitter</a></p>
          </li>
          <li>
              <img src="assets/images/youtube-logo.png" width="33" height="32">
              <p><a href="https://www.youtube.com" target="_blank">Visita <br>YouTube</a></p>
          </li>
          <li>
              <img src="assets/images/correo-logo.png" width="33" height="38">
              <p><a href="http://www.gmail.com" target="_blank">Escribe <br>Correo</a></p>
          </li>
         
      </ul>
  </div>  
  
</body>