<body>
    <div class="sticky-container">
        <ul class="sticky">
            <li>
                <img src="assets/images/facebook_logo.png" width="40" height="32">
                <p><a href="https://www.facebook.com" target="_blank">Like a <br>Facebook</a></p>
            </li>
            <li>
                <img src="assets/images/twitter_logo.jpg" width="33" height="32">
                <p><a href="https://twitter.com" target="_blank">Visita <br>Twitter</a></p>
            </li>
            <li>
                <img src="assets/images/youtube-logo.png" width="33" height="32">
                <p><a href="https://www.youtube.com" target="_blank">Visita <br>YouTube</a></p>
            </li>
            <li>
                <img src="assets/images/correo-logo.png" width="33" height="38">
                <p><a href="http://www.gmail.com" target="_blank">Escribe <br>Correo</a></p>
            </li>
           
        </ul>
    </div>  
    
    </body>